@font-face {
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

html, body {
  font-family: "OpenSans","Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


* {
  /* i think we have to include this on every style that needs to be ie compatible, yikes */
  behavior: url("css/PIE.htc");
}

body {
  min-width: 1000px;
}

#header {
  text-align: center;
  position: relative;
  margin-top: 25px;
}

#title {
  font-size: 28px;
  color: #00477B;
}

#logo {
  width: 67px;
  height: 67px;
  position: absolute;
  left: 0;
}

#dog {
  width: 85px;
  height: 67px;
  position: absolute;
  right: 0;
}

#content {
  position: relative;
}

#breadcrumbs {
  height: 42px;
  width: 750px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  position: relative;
  top: 21px;
  margin: auto;
  z-index: 1;
}

#form-info {
  width: 1000px;
  border-style: solid;
  border-width: 1px;
  border-color: #32b27c;
  padding-top: 40px;
  padding-left: 75px;
  padding-right: 75px;
}

#buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.crumb {
  display: inline-block;
  *display: inline;
  width: 42px;
  height: 42px;
  z-index: 1;
  font-size: 20px;
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #32b27c;
  vertical-align: top;
  zoom: 1;
}

.crumb-prev {
  background-color: #00477B;
  color: #32b27c;
}

.crumb-next {
  background-color: #ffffff;
  color: #32b27c;
}

.crumb-cur {
  background-color: #32b27c;
  color: #ffffff;
}


.crumb-stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.prev-button {
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  line-height: 40px;
  font-size: 30px;
  color: #32b27c;
  border-style: solid;
  border-width: 1px;
  border-color: #32b27c;
}

.next-button {
  width: 200px;
  height: 40px;
  background-color: #32b27c;
  line-height: 40px;
  font-size: 30px;
  color: #ffffff;
  text: right;
  border-style: solid;
  border-width: 1px;
  border-color: #32b27c;
  position: absolute;
  right: 0;
}

.form-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.multitext-box {
  width: 50px;
  height: 30px;
  margin-left: 34px;
  margin-right: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.multitext-col {
  text-align: center;
}

.multitext-row-header {
  width: 150px;
}

.checkbox-box, .radio-box {
  width: 220px;
  height: 30px;
}

.table-text {
  width: 100px;
  display: inline-block;
  margin-left: 20px;
  height: 25px;
}

.table-label {
  display: inline-block;
  margin-left: 5px;
}

.multiselect-col {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.multiselect-box {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.yes-no-question {
  margin-top: 8px;
}

/*Overwriting Bootstrap's rediculousness*/

.container {
  width: 1000px !important;
  max-width: none !important;
  padding: 0px !important;
}

.form-horizontal {
  margin-right: 0;
  margin-left: 0;
}

.form-group {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
}

.control-label {
  text-align: left !important;
}

.form-control {
  border-radius: 0 !important;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
