@font-face {
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); 
}

html, body {
  font-family: "OpenSans","Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


* {
  /* i think we have to include this on every style that needs to be ie compatible, yikes */
  behavior: url("css/PIE.htc");
}

body {
  min-width: 1000px;
}

#header {
  text-align: center;
}

#title {
  font-size: 28px;
  color: #00477B;
}

#logo {
  width: 67px;
  height: 67px;
}

#dog {
  width: 85px;
  height: 67px;
}

#breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#form-info {
  width: 1000px;
  height: 485px;
  border-style: solid;
  border-width: 1px;
  border-color: #32b27c;
}

#buttons {
  margin-top: 20px;
  position: relative;
}

.container {
  width: 1000px !important;
  max-width: none !important;
  padding: 0px !important;
}

.crumb {
  display: inline-block;
  width: 42px;
  height: 42px;
  z-index: 1;
  background-color: #ffffff;
  color: #32b27c;
  font-size: 20px;
  text-align: center;
  line-height: 42px;
  border-radius: 50%; 
  border-style: solid;
  border-width: 1px;
  border-color: #32b27c;
}

.prev-button {
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  line-height: 40px;
  font-size: 30px;
  color: #32b27c;
  border-style: solid;
  border-width: 1px;
  border-color: #32b27c;
}

.next-button {
  width: 200px;
  height: 40px;
  background-color: #32b27c;
  line-height: 40px;
  font-size: 30px;
  color: #ffffff;
  text: right;
  border-style: solid;
  border-width: 1px;
  border-color: #32b27c;
  position: absolute;
  right: 0;
}