@font-face {
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); 
}

html, body {
  font-family: "OpenSans","Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


* {
  /* i think we have to include this on every style that needs to be ie compatible, yikes */
  behavior: url("css/PIE.htc");
}

#pie-test {
  border-radius: 50%; 
  background: pink; 
  width: 100px; 
  height: 100px;
}

body {
  min-width: 1000px;
}

#header {
  text-align: center;
}

#logo {
  width: 100px;
  height: 100px;
}

#dog {
  width: 85px;
  height: 67px;
}

#form-info {
  width: 1000px;
  height: 485px;
  border-style: solid;
  border-width: 1px;
  border-color: #32b27c;
}

#buttons {
  margin-top: 20px;
  position: relative;
}

.container {
  width: 1000px !important;
  max-width: none !important;
  padding: 0px !important;
}

.prev-button {
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  color: #32b27c;
  border-style: solid;
  border-width: 1px;
  border-color: #32b27c;
}

.next-button {
  width: 200px;
  height: 40px;
  background-color: #32b27c;
  color: #ffffff;
  text: right;
  border-style: solid;
  border-width: 1px;
  border-color: #32b27c;
  position: absolute;
  right: 0;
}