html, body {
  font-family: "OpenSans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* IE 8 pollyfills */
* {
  behavior: url("css/PIE.htc");
}

body {
  min-width: 1024px;
}

#header {
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}

#title {
  font-size: 28px;
  color: #00477B;
}

#logo {
  width: 67px;
  height: 67px;
  position: absolute;
  left: 0;
}

#dog {
  width: 85px;
  height: 67px;
  position: absolute;
  right: 0;
}

/* Fonts */
@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: lighter;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
