#title {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-top: 60px;
  margin-bottom: 60px;
}

.animal-wrapper:hover .animal {
  border: 1px solid #0E4D72;
}

.animal-wrapper:hover h4 {
  color: #0E4D72;
}

.animal-wrapper .animal {
  height: 128px;
  border: 1px solid #00AE61;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.animal-wrapper.selected .animal {
  border: 1px solid #0E4D72;
}

.animal-wrapper .animal#dog {
  background-image: url('/img/dog.png');
}

.animal-wrapper.selected .animal#dog,
.animal-wrapper:hover .animal#dog {
  background-image: url('/img/dog-blue.png');
}

.animal-wrapper .animal#cat {
  background-image: url('/img/cat.png');
}

.animal-wrapper.selected .animal#cat,
.animal-wrapper:hover .animal#cat {
  background-image: url('/img/cat-blue.png');
}

.animal-wrapper .animal#rabbit {
  background-image: url('/img/rabbit.png');
}

.animal-wrapper.selected .animal#rabbit,
.animal-wrapper:hover .animal#rabbit {
  background-image: url('/img/rabbit-blue.png');
}

.animal-wrapper .animal#reptile {
  background-image: url('/img/reptile.png');
}

.animal-wrapper.selected .animal#reptile,
.animal-wrapper:hover .animal#reptile {
  background-image: url('/img/reptile-blue.png');
}

.animal-wrapper .animal#small-animal {
  background-image: url('/img/small-animal.png');
}

.animal-wrapper.selected .animal#small-animal,
.animal-wrapper:hover .animal#small-animal {
  background-image: url('/img/small-animal-blue.png');
}

.animal-wrapper h4 {
  text-transform: uppercase;
  color: #00AE61;
  font-size: 28px;
  text-align: center;
}

.animal-wrapper.selected h4 {
  color: #0E4D72;
}
