#scheduler-container {
  min-width: 1000px;
  margin: auto;
}

/* */
#make-an-appointment {
  color: #14477E;
  font-weight: 300;
  font-size: 32px;
}

/* */
#selected-date {
  color: #14477E;
  font-weight: 300;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 10px;
  background: none;
  border: none;
  cursor: default;
  margin-bottom: 2px;
}

/* Calendar Styles */
#calendar-container {
  margin-top: 75px;
}

#calendar {
  width: auto;
  text-transform: uppercase;
}

/* Calendar header */
#calendar .ui-datepicker-header {
  position: relative;
  width: 100%;
  padding: 15px 0;
  background-color: #0D4380;
  color: white;
  font-size: 18px;
}

/* Calendar previous button */
#calendar .ui-datepicker-prev, .ui-datepicker-next {
  position: absolute;
  top: 30px;
  height: 30px;
  margin-top: -12px;
  color: white;
}

#calendar .ui-datepicker-prev {
  left: 10px;
}

#calendar .ui-datepicker-prev span {
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  display: block;
  text-indent: -99999px;
}

#calendar .ui-datepicker-prev span:hover {
  border-right-color: #EFEFEF;
}

/* Calendar next Button */
#calendar .ui-datepicker-next {
  right: 10px;
}

#calendar .ui-datepicker-next span {
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  display: block;
  text-indent: -99999px;
}

#calendar .ui-datepicker-next span:hover {
  border-left-color: #EFEFEF;
}

#calendar .ui-datepicker-title {
  text-align: center;
}

#calendar .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
  background-color: white;
}

#calendar .ui-datepicker-calendar th {
  text-align: center;
  color: white;
}

#calendar .ui-datepicker-calendar thead {
  background-color: #0D4380;
}

/*
#calendar tr:last-child td {
  border-bottom: none;
}
*/

#calendar .ui-state-active {
  background-color: #E0F7FE;
}

#calendar table {
  border: 2px solid #0D4380;
  border-collapse: separate;
}

#calendar td {
  border: 1px solid #EFEFEF;
}

#calendar td:hover {
  background-color: #E0F7FE;
}

#calendar td.ui-datepicker-unselectable:hover {
  background-color: white;
  cursor: default !important;
}

#calendar td a {
  text-align: center;
  color: #79929D;
  height: 100%;
  width: 100%;
  display: inline-block;
  line-height: 50px;
}

#calendar td a:focus, a:hover {
  text-decoration: none;
}


/* time-of-day styles */
#time-of-day {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

#time-of-day li {
  display: inline-block;
  width: 10%;
  float: left;
  height: 95px;
  background-color: white;
  color: #79929D;
  line-height: 95px;
  font-size: 12px;
}

#time-of-day li div {
  border: 1px solid #41DC58;
  padding-left: 2px;
  margin: 1px;
}

#time-of-day li.selected div {
  background-color: #41DC58;
  color: white;
}

#time-of-day li:hover div {
  background-color: #DCF8FF;
}

#time-of-day li.selected:hover div {
  background-color: #41DC98;
}
