/* Scrollbar styles */
::-webkit-scrollbar {
    width: 15px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background-color: #898586;
}

::-webkit-scrollbar-track-piece {
    background-color: #D1D1D1;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

/* Header */
#header {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #10487A;
    font-size: 22px;
    color: #fff;
    height: 60px;
    padding: 5px;
}

#header #title {
    text-align: center;
    margin-top: 7px;
    font-style: lighter;
}

#header #back-button {
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#header #submit-button {
    background-color: #00BD7E;
    border-radius: 10px;
    border: 0px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


/* Intake Information */
#intake-information {
    left: 0;
    right: 50%;
}

#intake-information .scroll-button {
    right: 50%;
    margin-right: 25px;
}

#intake-information .intake-section {
    border-bottom: 2px solid grey;
}

#intake-information .intake-field {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

#intake-information .intake-field .name {
    display: inline-block;
    width: 55%;
    font-weight: bold;
}

#intake-information .intake-field .value {
    display: inline-block;
    width: 40%;
    margin-left: 5%;
}


/* Interview Guide */
#interview-guide {
    right: 0;
    left: 50%;
}

#interview-guide textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 120px;
    background-color: #E7F2ED;
    padding: 10px;
    border: 2px solid #000;
}

#interview-guide .section-title {
    font-weight: bold;
    margin-bottom: 20px;
}

#interview-guide .scroll-button {
    right: 25px;
}

/* stays hidden until page is printed. Allows printed page to view all text
 * in textarea, including overflow */
#interview-guide .textarea-print-helper {
    display: none;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 120px;
    background-color: #E7F2ED;
}

/* Scroll buttons */
.scroll-button {
  height: 50px;
  width: 50px;
  background: none;
  border: 2px solid #29618F;
  border-radius: 10px;
  font-size: 34px;
  line-height: 50px;
  color: #29618F;
}

.scroll-button.up {
    position: fixed;
    top: 70px;
}

.scroll-button.down {
    position: fixed;
    bottom: 10px;
}

/* Common side by side window styles */
.side-by-side-window {
    position: fixed;
    top: 60px;
    bottom: 0;
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 70px;
}

.print-media-only {
    display: none;
}
